.idea
credentials.txt
.~lock.todos.odt#

venv/artifacts
venv/clips/
venv/audio/
venv/screenshots/
venv/misc/
venv/movie/
venv/Scripts/*
venv/Lib/*
venv/__pycache__/*
venv/Include/*

venv/1clipTEMP_MPY_wvf_snd.mp3
venv/2clipTEMP_MPY_wvf_snd.mp3
venv/3clipTEMP_MPY_wvf_snd.mp3
venv/yt_movieTEMP_MPY_wvf_snd.mp3

venv/yt_movie.mp4