.idea
credentials.txt
.~lock.todos.odt#

venv/artifacts
venv/misc/
venv/Scripts/*
venv/Lib/*
venv/__pycache__/*
venv/Include/*

venv/debug.log
venv/pyvenv.cfg

venv/html_templates/t_comments.html
venv/html_templates/submissionPost.html

venv/1clipTEMP_MPY_wvf_snd.mp3
venv/2clipTEMP_MPY_wvf_snd.mp3
venv/3clipTEMP_MPY_wvf_snd.mp3
venv/yt_movieTEMP_MPY_wvf_snd.mp3